In [1]:
import pandas as pd
import cv2
from PIL import Image
import re
import glob
import random

In [3]:
df = pd.read_csv('standard_feature_v3.csv')

In [9]:
df_original = pd.DataFrame(columns=['width', 'height', 'area', 'depth_sum', 'depth_sum/area','length', 'depth_median', 'depth_mean', 'ratio','r_median',
     'b_median', 'g_median', 'r_mean', 'b_mean', 'g_mean', 'r_sum', 'b_sum', 'g_sum','category' ,'y'])
df_original.to_csv('../data/csv/base.csv', index=False)

In [12]:
df2 = pd.read_csv('../first.csv')

In [13]:
df2

,width,height,area,depth_sum,depth_sum/area,length,depth_median,depth_mean,ratio,r_median,b_median,g_median,r_mean,b_mean,g_mean,r_sum,b_sum,g_sum,category,y
0,212,84,17808,4138840,232.41,296,248.0,232.4,2.523810,84.0,105.0,120.0,82.72,104.00,118.50,1473057,1852101,2110293,box,iris_0
1,182,198,36036,10668241,296.04,380,319.0,296.0,1.087912,81.0,107.0,104.0,72.61,98.77,100.03,2616720,3559223,3604502,box,iris_1
2,78,214,16692,4206822,252.03,292,265.0,252.0,2.743590,98.0,124.0,132.0,92.32,116.99,123.83,1540964,1952867,2067003,box,iris_2

In [29]:
df_original = pd.DataFrame(columns=['width', 'height', 'area', 'depth_sum', 'depth_sum/area','length', 'depth_median', 'depth_mean', 'ratio','r_median',
     'b_median', 'g_median', 'r_mean', 'b_mean', 'g_mean', 'r_sum', 'b_sum', 'g_sum','category' ,'y'])
df = pd.read_csv('base.csv', index=False)

for _ in range(0, len(df)*100):
    select_num = random.randint(0, 8)
    data = df.loc[select_num]
    width_bias = random.randint(-3, 3)
    height_bias = random.randint(-3, 3)
    depth_sum_bias = random.randint(-30000, 30000)
    depth_median_bias = random.randint(-2, 2)
    depth_mean_bias = random.randint(-10, 10)
    color_median_bias = random.randint(-15, 15)
    color_mean_bias = random.randint(-15, 15)
    color_sum_bias = random.randint(-450000, 450000)
    


    width = data.width + width_bias
    height = data.height + height_bias
    area = width * height
    length = width+height
    depth_sum = data.depth_sum + depth_sum_bias
    depth_sum_area = depth_sum/area
    depth_median = data.depth_median + depth_median_bias
    depth_mean = data.depth_mean + depth_mean_bias
    w_h = [width, height]
    ratio = max(w_h)/min(w_h)
    r_median = data.r_median + color_median_bias
    b_median = data.b_median + color_median_bias
    g_median = data.g_median + color_median_bias
    r_mean = data.r_mean + color_mean_bias
    b_mean = data.b_mean + color_mean_bias
    g_mean = data.g_mean + color_mean_bias
    r_sum = data.r_sum + color_sum_bias
    b_sum = data.b_sum + color_sum_bias
    g_sum = data.g_sum + color_sum_bias
    y = data.y
    category = data.category

    df_original
    dataseries = {'width': width, 'height': height, 'area': area, 'depth_sum': depth_sum, 'depth_sum/area': depth_sum_area,
                  'length': length, 'depth_median': depth_median, 'depth_mean': depth_mean, 'ratio': ratio, 'r_median': r_median ,
                  'b_median': b_median, 'g_median': g_median, 'r_mean': r_mean, 'b_mean': b_mean, 'g_mean': g_mean, 'r_sum': r_sum, 
                  'b_sum': b_sum, 'g_sum', 'y': y}
    df_new = pd.DataFrame.from_dict(dataseries, orient='index').T
    df_original = pd.concat([df_original, df_new], sort=False)
    df_original.to_csv('data/csv/train.csv', index=False)

AttributeError: 'Series' object has no attribute 'width'

In [13]:
df_original.drop(['width', 'height'], axis=1)

,area,depth_sum,depth_sum/area,length,depth_median,depth_mean,ratio,y
0,65199,19065882,292.426,520,309,295.1,1.46445,amazon
0,59297,16997038,286.642,498,290,286.4,1.52792,realsense
0,27600,7561465,273.966,338,294,272.7,1.44928,dog
0,31320,8959871,286.075,354,316,299.1,1.03448,papertape
0,21804,5554098,254.728,296,319,261.6,1.14493,tepra
...,...,...,...,...,...,...,...,...
0,33800,9848909,291.388,369,311,294.6,1.18343,iris
0,60400,16944194,280.533,502,291,280.4,1.51,realsense
0,21962,5549341,252.679,297,316,262.6,1.13669,tepra
0,60300,16985013,281.675,501,291,291.4,1.49254,realsense
0,33908,9879294,291.356,369,311,283.6,1.13295,iris

In [42]:
for _ in range(0, 10000):
    select_num = random.randint(0, 24)
    data = df.loc[select_num]
    width = data.length/(1+data.ratio)
    height = data.length - width
    width_bias = random.randint(-10, 10)
    height_bias = random.randint(-10, 10)
    depth_sum_bias = random.randint(-50000, 50000)
    depth_median_bias = random.randint(-4, 4)
    depth_mean_bias = random.randint(-12, 12)


    width = width + width_bias
    height = height + height_bias
    length = width + height
    area = width*height
    depth_sum = data.depth_sum + depth_sum_bias
    depth_sum_area = depth_sum/area
    depth_median = data.depth_median + depth_median_bias
    depth_mean = data.depth_mean + depth_mean_bias
    y = data.y

    df_original
    dataseries = {'width': width, 'height': height, 'area': area, 'depth_sum': depth_sum, 'depth_sum/area': depth_sum_area,
                  'length': length, 'depth_median': depth_median, 'depth_mean': depth_mean, 'ratio': data.ratio, 'y': y}
    df_new = pd.DataFrame.from_dict(dataseries, orient='index').T
    df_original = pd.concat([df_original, df_new], sort=False)

In [43]:
df_original.drop(['width', 'height'], axis=1)
df_original.to_csv('train_shape_v4.csv', index=False)

In [40]:
df_original.y.value_counts()

tepra_y         137
yellowTape_y    136
amazon_x        133
yellowTape_x    128
whiteTape_y     126
iris_x          124
dog_z           124
tepra_z         123
realsense_x     122
realsense_y     122
mintia_x        122
amazon_z        121
realsense_z     121
dog_y           121
whiteTape_z     119
iris_y          118
dog_x           117
whiteTape_x     117
iris_z          115
allegra_y       115
yellowTape_z    112
tepra_x         110
allegra_z       109
allegra_x       104
amazon_y        104
Name: y, dtype: int64

In [25]:
df_  = pd.read_csv('train_shape_v1.csv')

In [26]:
df_

,width,height,area,depth_sum,depth_sum/area,length,depth_median,depth_mean,ratio,y
0,61.0,201.0,12261.0,3179923,259.352663,262.0,277.0,251.2,3.158730,tepra_y
1,98.0,180.0,17640.0,6002160,340.258503,278.0,332.0,337.0,1.828283,mintia_x
2,145.0,256.0,37120.0,11489297,309.517699,401.0,316.0,311.2,1.755102,allegra_x
3,173.0,178.0,30794.0,9179277,298.086543,351.0,312.0,301.3,1.034884,whiteTape_x
4,57.0,300.0,17100.0,4068532,237.925848,357.0,267.0,243.4,5.375000,allegra_y
...,...,...,...,...,...,...,...,...,...,...
995,141.0,166.0,23406.0,6870363,293.529992,307.0,316.0,286.0,1.170213,tepra_x
996,94.0,167.0,15698.0,3819660,243.321442,261.0,269.0,236.2,1.757895,yellowTape_z
997,64.0,167.0,10688.0,2490709,233.037893,231.0,262.0,228.6,2.562500,tepra_z
998,142.0,163.0,23146.0,6879935,297.240776,305.0,318.0,299.0,1.170213,tepra_x
999,109.0,325.0,35425.0,6593931,186.137784,434.0,185.0,178.3,2.875000,amazon_z